* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #e1e8f0; */
}

#library-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;
  border-radius: 8px;
  /* box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3); */
  background-color: #fff;
}

h1 {
  grid-row: 1 / 2;
  text-align: start;
  margin-bottom: 1rem;
}

#new-book-form {
  display: grid;
  gap: 1rem;
  margin: 2rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 8px;
  /* box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3); */
  background-color: #fff;
}

.form-fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-button {
  display: flex;
  justify-content: flex-end;
}

#new-book-btn {
  background-color: 0;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
}

#new-book-btn:hover {
}

table {
  grid-row: 2 / 3;
  border-collapse: collapse;
}

thead th {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}

th {
  text-align: start;
}

.row td {
  padding-top: 1rem;
}

.row td:last-of-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.remove-button {
  background-color: 0;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
}

.remove-button:hover {
}

.toggle-button {
  background-color: 0;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
}

.toggle-button:hover {
}
