* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /* background-color: #e1e8f0; */
  font-size: 16px;
  line-height: 1.5;
}

#library-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;
  border-radius: 8px;
  /* box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3); */
  background-color: #fff;
}

h1 {
  grid-row: 1 / 2;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

#new-book-form {
  display: grid;
  gap: 1rem;
  margin: 2rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 8px;
  /* box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3); */
  background-color: #fff;
}

.form-fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-button p {
  font-size: 12px;
  margin-right: 1rem;
  font-weight: bold;
}

#new-book-btn {
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

#new-book-btn:hover {
  background-color: lightgrey;
}

table {
  grid-row: 2 / 3;
  border-collapse: collapse;
}

thead th {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}

th {
  text-align: start;
  padding-left: 0.5rem;
}

.row:hover {
  background-color: #e1e8f0;
}

.row td {
  padding: 1rem 0.5rem;
}

.row td:last-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.remove-button {
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.remove-button:hover {
  background-color: lightgrey;
}

.toggle-button {
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.toggle-button:hover {
  background-color: lightgrey;
}

.read {
  /* background-color: green; */
}

.unread {
  /* background-color: red; */
}

img {
  height: 1.5rem;
}

@media (max-width: 600px) {
  #library-container,
  #new-book-form {
    margin: 0;
    padding: 1rem;
    border: none;
    border-radius: 0;
  }

  #library-container {
    margin-top: 2rem;
  }

  body {
    background-color: #e1e8f0;
  }

  button {
    padding: 0.75rem;
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  #library-container,
  #new-book-form {
    max-width: 1000px;
    margin: 2rem auto;
  }
}
